.itemCard{
 display: flex;
 flex-wrap: nowrap;
 flex-direction: column;
 margin-top: 3.2rem;
}

/* -------------------------------------------------------------------------- */


.cardMedia{
 flex: content;
 cursor: pointer;
}


.cardTitle{
 flex: 2rem;
 margin:0 1rem;
}

.item_price{
 margin:0 1rem;
}

.item_price ul{
  margin-left: 3rem;
 }



 .item_price ul li:last-child{
   text-decoration-line: line-through;
   margin-left: 2rem;
   color: #ff0000;
 }




.itemDescription, .itemlocation, .itemFeatures, .itemComments{
 padding:  1rem;
 border-top: 1px solid #80808025;
}

.itemFeatures ul{
  margin-left: 3rem;
  font-weight: bolder;
}
.itemBtns {
margin-left: auto;
padding: 1rem;
}


.itemStats{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3px ;
}

.createComment{
  width: 100vw;
}

.deleteButn{
  position: absolute;
  left: 0;
  margin-left: auto;
}















/* -------------------------------------------------------------------------- */
@media(min-width:48em){
 .itemCard{
 margin-top: 5rem;
 margin: 4.5rem 0 0 20vw;
 padding: 0 1rem 10px 0;
 width: 30rem;
 font-size: smaller;
}

.cardMedia{
 flex: content;
 cursor: pointer;
 width: 30vw;
}

.itemDescription, .itemlocation, .itemFeatures, .itemComments{
 padding:  .4rem;
}
.cardTitle{
 flex: 2rem;
 padding-bottom: 0;
 border-bottom: none;
}

.itemDescription, .itemlocation, .itemFeatures{
 padding:  1rem;
 border-top: none;
}

.createComment{
  width: 35rem;
}


.itemComments{
  position: absolute;
  top: 0;
  /* right: 0; */
  margin-top: 6rem;
  margin-left: 35rem;
  padding-left: 2rem;
  min-height: 100vh;
  width: 30rem;
  border-left: 1px solid gray;
  border-top:none;
}

}


