.media_wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.prices{
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  align-items: center;
}
.prices button{
  margin-left: 1rem;
}
.grid_post_price, .grid_post_title{
margin:0.5rem 2rem;
}

ul{
  margin-left: 3rem;
}
.crossed_price{
  text-decoration:line-through;
  color:gray;
  margin-left:5px;
  font-size: smaller;
}
.buy_avator{
  display: flex;
  align-items: center;
}

.buy_avator h6{
  font-size: larger;
  color: skyblue;
  margin-left: .5rem;
  font-family: sans-serif;
}

.buy_avator p{
  margin-left: 1rem;
}